<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hn.onelabel.server.infrastructure.db.mapper.LabelOperationRecordsMapper">

    <resultMap id="BaseResultMap" type="com.hn.onelabel.server.infrastructure.db.LabelOperationRecordsDO">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="deleted" jdbcType="TINYINT" property="deleted"/>
        <result column="sequence_id" jdbcType="VARCHAR" property="sequenceId"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="label_code" jdbcType="VARCHAR" property="labelCode"/>
        <result column="operation_type" jdbcType="VARCHAR" property="operationType"/>
        <result column="operation_data" jdbcType="VARCHAR" property="operationData"/>
        <result column="old_label" jdbcType="VARCHAR" property="oldLabel"/>
        <result column="new_label" jdbcType="VARCHAR" property="newLabel"/>
    </resultMap>

    <sql id="Base_Column_List">
        `id`,<include refid="NoPrimaryKey_Column_List"/>
    </sql>

    <sql id="NoPrimaryKey_Column_List">
        `create_time`,
        `update_time`,
        `deleted`,
        `sequence_id`,
        `user_id`,
        `label_code`,
        `operation_type`,
        `operation_data`,
        `old_label`,
        `new_label`
    </sql>

    <sql id="NoPrimaryKey_Value_List">
        #{createTime,jdbcType=TIMESTAMP},
        #{updateTime,jdbcType=TIMESTAMP},
        #{deleted,jdbcType=TINYINT},
        #{sequenceId,jdbcType=VARCHAR},
        #{userId,jdbcType=BIGINT},
        #{labelCode,jdbcType=VARCHAR},
        #{operationType,jdbcType=VARCHAR},
        #{operationData,jdbcType=VARCHAR},
        #{OldLabel,jdbcType=VARCHAR},
        #{newLabel,jdbcType=VARCHAR}
    </sql>

    <sql id="Item_NoPrimaryKey_Value_List">
        #{item.createTime,jdbcType=TIMESTAMP},
        #{item.updateTime,jdbcType=TIMESTAMP},
        #{item.deleted,jdbcType=TINYINT},
        #{item.sequenceId,jdbcType=VARCHAR},
        #{item.userId,jdbcType=BIGINT},
        #{item.labelCode,jdbcType=VARCHAR},
        #{item.operationType,jdbcType=VARCHAR},
        #{item.operationData,jdbcType=VARCHAR},
        #{item.oldLabel,jdbcType=VARCHAR},
        #{item.newLabel,jdbcType=VARCHAR}
    </sql>

    <insert id="insertEntity" useGeneratedKeys="true" keyProperty="item.id">
        INSERT INTO label_operation_records#{ds}(<include refid="NoPrimaryKey_Column_List"/>)
        VALUE (<include refid="Item_NoPrimaryKey_Value_List"/>)
    </insert>

</mapper>
